---
import { getLangPaths } from '@utils/i18n-utils';
export function getStaticPaths() {
    return getLangPaths();
}

import MainGridLayout from "../../layouts/MainGridLayout.astro";
import FriendCard, { type Friend } from "../../components/FriendCard.astro";

const friendsList: Friend[] = [
    {
        name: "Aquamarine",
        avatar: "https://github.com/aquamarine-z.png",
        labels: ['tag.self', "tag.frontend", "tag.backend", 'tag.react'],
        links: [
            { name: 'Github', link: "https://github.com/aquamarine-z" },
            { name: 'Blog', link: "https://aquamarine-z.github.io/aqua-blog/" },
            { name: 'Line', link: "https://line.me/ti/p/6fcWHiO0vg" }
        ]
    },
    {
        name: "Apricityx",
        avatar: "/assets/friends-avatar/Apricityx.png",
        labels: ['tag.friend', 'tag.schoolmate'],
        links: [
            { name: 'Github', link: "https://github.com/apricityx" },
            { name: 'Blog', link: "https://blog.apricityx.top/" }
        ]
    },
    {
        name: "Winston Chen",
        avatar: "/assets/friends-avatar/WinstonChen.png",
        labels: ['tag.friend', 'tag.schoolmate'],
        links: [
            { name: 'Github', link: "https://github.com/WinstonCHEN1/" },
            { name: 'Blog', link: "https://winstonchen1.github.io/" }
        ]
    },
    {
        name: "Syan Wang",
        avatar: "/assets/friends-avatar/SyanWang.png",
        labels: ['tag.friend', 'tag.schoolmate'],
        links: [
            { name: 'Github', link: "https://github.com/TheSorry404" },
            { name: 'Blog', link: "https://40404.site/" }
        ]
    },
    {
        name: 'Mark',
        avatar: 'https://github.com/pique2233.png',
        labels: ['tag.friend', 'tag.schoolmate'],
        links: [
            { name: 'Github', link: "https://github.com/pique2233" },
            { name: 'Blog', link: "https://pique2233.github.io/" }
        ]
    }
];

import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";

const title = i18n(I18nKey.friends, Astro.currentLocale);
---

<MainGridLayout title={title} description="Friends Links">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <div class="flex items-center gap-3 mb-8">
                <div class="w-1 h-8 rounded-md bg-[var(--primary)]"></div>
                <h1 class="text-3xl font-bold text-black/90 dark:text-white/90">{title}</h1>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                {friendsList.map(friend => (
                    <FriendCard friend={friend} />
                ))}
            </div>
        </div>
    </div>
</MainGridLayout>
