---
import { getLangPaths } from "@utils/i18n-utils";
export function getStaticPaths() {
	return getLangPaths();
}

import FriendCard from "../../components/FriendCard.astro";
import { friendsConfig } from "../../config";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import MainGridLayout from "../../layouts/MainGridLayout.astro";

const title = i18n(I18nKey.friends, Astro.currentLocale);
---

<MainGridLayout title={title} description="Friends Links">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <div class="flex items-center gap-3 mb-8">
                <div class="w-1 h-8 rounded-md bg-[var(--primary)]"></div>
                <h1 class="text-3xl font-bold text-black/90 dark:text-white/90">{title}</h1>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                {friendsConfig.map(friend => (
                    <FriendCard friend={friend} />
                ))}
            </div>
        </div>
    </div>
</MainGridLayout>
